@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background-color: #2b3d4f;
    color: #ccd;
    font-family: 'Nunito', sans-serif;
}
a {
    color: #fcf988;
}
a:hover {
    color: #ed0978;
}
.nav-link {
    color: #f9fc32;
}

p { 
    font-family: 'Lato', sans-serif;
    font-size: 1.25em; 
    line-height: 1.4em; 
}
   
/* test 
.footer {
    background-color: #ccd;
} 
failed */ 

