@import url("https://fonts.googleapis.com/css?family=Lato:400,300");

nav ul, footer ul {
    list-style-type: none;
    padding-left: 0;
}
nav li, footer li {
    display: inline-block;
    margin-right: 20px;
}
.recent-posts ul, .blog ul {
    list-style-type: none;
    padding-left: 0;
}
.recent-posts li, .blog li {
    display: inline-block;
    margin-right: 16px;
}