$nav-link-padding-y: 0;
$nav-link-padding-x: 1rem;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #2b3d4f;
    color: #ccd;
    font-family: 'Nunito', sans-serif;
}
a {
    color: #ed0978;
}
a:hover {
    color: #fcf988;
}
/* test */ 
.footer {
    background-color: #ccd;
}
