---
layout: default
title: Hemanth Kumar Narra 
description: Human | CA & CMA student | Investor | Python | Introvert
---

<div class="main">
    {% include header.html %}
    <div class="recent-posts">
        <h3>Recent posts </h3>
        <ul>
            {% for post in site.posts %}
            <li><span class="post-date">{{ post.date | date_to_string: "ordinal", "US" }}</span> &raquo; <a class="post-title" href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>