---
layout: default
title: Hemanth Kumar Narra, Introvert
---

<div class="container">
    {% include header.html %}
    <br>
    <div class="recent-post">
    <h1 class="display-6">Recent Posts</h1>
    <ul class="list-unstyled">
        {% for post in site.posts %}
        <li>
            <p><mark>{{ post.date | date_to_string }}</mark></p>
            <p class="h3">{{ post.title }}</p>
            <p class="h6">{{ post.excerpt }}</p>
            <a class="btn btn-primary btn-sm" href="{{ post.url }}" role="button">READ MORE</a>
        </li>
        {% endfor %}
    </ul>
</div>
