---
layout: default
title: Hemanth Kumar Narra, Introvert
---

<div class="container">
    {% include header.html %}
    <br>
    <div class="recent-post">
    <h1 class="display-6">Recent Posts</h1>
    <ul class="list-unstyled">
        {% for post in site.posts %}
        <li>
            <p class="h3">{{ post.title }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
            <p> <a href="{{ post.url }}">Read more &#8594; </a></p>
        </li>
        {% endfor %}
    </ul>
</div>
