<footer>
    <p class="copy-right">© 2021 Hemanth Kumar Narra</p>
    <ul>
        <li><a href="http://github.com/hemanthnarra" target="_blank" rel="noopener noreferrer"><img src="/icons8-github.svg" alt="GitHub"></a></li>
        <li><a href="http://mailto:hemanthkumarsuma799@gmail.com" target="_blank" rel="noopener noreferrer"><img src="/icons8-gmail.svg" alt="gmail"></a></li>
        <li><a href="http://telegram.dog/hemanthkumarnarra" target="_blank" rel="noopener noreferrer"><img src="/icons8-telegram-app.svg" alt="telegram"></a></li>
        <li><a href="http://www.instagram.com/hemanthkumarnarra/" target="_blank" rel="noopener noreferrer"><img src="/icons8-instagram.svg" alt="instagram"></a></li>
    </ul>
</footer>   

