<!-- footer that is at the end of every page  -->
<footer class="end">
    <p class="copy-right">© 2021 Hemanth Kumar Narra</p>
    <ul>
        <li><a href="{{ site.github }}" target="_blank" rel="noopener noreferrer"><img src="/assets/icons8-github.svg" alt="GitHub"></a></li>
        <li><a href="{{ site.gmail }}" target="_blank" rel="noopener noreferrer"><img src="/assets/icons8-gmail.svg" alt="gmail"></a></li>
        <li><a href="{{ site.telegram }}" target="_blank" rel="noopener noreferrer"><img src="/assets/icons8-telegram-app.svg" alt="telegram"></a></li>
        <li><a href="{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><img src="/assets/icons8-instagram.svg" alt="instagram"></a></li>
    </ul>
</footer>   

