<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link to main style sheet -->
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <!-- link to the W3.CSS -->
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    
    <title>{{ page.title }}</title>
    <!--Custom web image-->
    <link rel="icon" href="\favicon.ico">
    <!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}
</head>
