<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author }}">
    <!-- link to the google 'lato' font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <!-- link to the google 'Nunito' font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- link to main style sheet -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- rss-feed plugin usage  -->
    {% feed_meta %}
    <!-- page title  -->
    <title>{{ page.title }} | {{ site.description }}</title>
    <!--Custom web icon-->
    <link rel="icon" href="{{ site.logo }}">
    <!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}
</head>
