<div class="container">
      <nav>
       <ul class="nav my-3">
  <li class="nav-item">
    <a class="nav-link" href="/" {% if page.url == "/" %}style="color: #ed0978;"{% endif %}>HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog" {% if page.url == "/blog/" %}style="color: #ed0978;"{% endif %}>BLOG</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about" {% if page.url == "/about/" %}style="color: #ed0978;"{% endif %}>ABOUT</a>
  </li>
</ul>
      </nav>
    </div>
